{% extends "template.html" %}
{% block conteudo %}
  
    <div class="container">
        <div class="classifier p-3">
            {% with messages = get_flashed_messages() %}
                {% if messages %} 
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-success">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('atualizar') }}" method="post"  enctype="multipart/form-data">
                <fieldset>
                    <h2 class="pb-2">Review:</h2>
                    <input type="hidden" name="id" value="{{ review[0] }}">
                    <table class="table table-striped pb-2">
                        <tbody>
                            <tr class="h4">
                                <th scope="row" class="w-25"><b>Nome do App: </b></th>
                                <td class="w-75"><i>{{ review[1] }}</i></td>
                            </tr>
                            <tr class="h4">
                                <th scope="row" class="w-25"><b>Review do usuário: </b></th>
                                <td class="w-75"><i>{{ review[2] }}</i></td>
                            </tr>
                        </tbody>
                    </table> 
                    <hr>
                    <p class="h5 text-center">Caso o review esteja confuso, incompleto, em uma língua diferente de <b>inglês</b>, apareça somente <b>"NaN"</b> ou por qualquer outra razão não seja possível classificá-lo, por favor, clique em <b>"Pular".</b></p>         
                    <p class="h3 text-center pt-2"><b>O review é de acessibilidade?</b></p>
                    <div class="form-group w-80">
                        <select class="custom-select col-md-12" name="a11y" required>
                            <option disabled selected value> -- Selecione uma opção: -- </option>
                            <option value="0">NÃO! Não é de acessibilidade!</option>
                            <option value="1">Sim! É de acessibilidade!</option>
                        </select>
                    </div>
                    <p class="h5 text-center pt-3">Se o review for sobre acessibilidade, digite as palvras ou expressões chaves que te fizeram deicidir por isso. Por exemplo: "too bright", "eyestrain", "ads", "pop up".</p>
                    <p class="h5 text-center">Utilize vírgulas para separar as palavras/expressões. Não precisa deixar entre aspas!</p>
                    <div class="form-group">
                        <label for="console">Palavras/Expressões chaves:</label>
                        <input type="text" id="palavras" name="palavras" class="form-control">
                    </div>
                    <div class="d-flex justify-content-around pb-4">                
                        <button type="submit" class="btn btn-primary">
                            &#128512; Classificar
                        </button>                
                        <a href="{{ url_for('classificar') }}" type="submit" class="btn btn-danger">
                            &#128533; Pular
                        </a>
                    </div>          
                </fieldset>
            </form>  
            <p class="h4 text-center pt-3">Não há limite para classificação, pode ser 1 pode ser 10, pode ser mais... quanto mais puder, melhor! Obrigado!</p>
        </div>
        <img src="{{ url_for('imagem', nome_arquivo="stars.png") }}" width="100%">
    </div>


{% endblock conteudo %}