{% extends "template.html" %}
{% block conteudo %}
  
    <div class="container">
        <img src="{{ url_for('imagem', nome_arquivo="stars.png") }}" width="100%">
        <div class="classifier p-3">
            <h1>{{ titulo }}</h1>
            <p class="text-center">Caso o contato apresente algum erro ou você queira enviar um print do erro, encaminhe uma mensagem para: <b>mauricio.ozaki@usp.br</b>.</p>
            <form action="{{ url_for('enviar') }}" method="post"  enctype="multipart/form-data">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">Nome: </th>
                            <td><input type="text" id="nome" name="nome" class="form-control"></td>
                        </tr>
                        <tr>
                            <th scope="row">E-mail</th>
                            <td><input type="email" id="email" name="email" class="form-control"></td>
                        </tr>
                        <tr>
                            <th scope="row">Comentário:</th>
                            <td><textarea class="form-control" id="conteudo" name="conteudo" rows="3" required></textarea></td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-around pb-4">                
                    <button type="submit" class="btn btn-success">
                        Enviar
                    </button>                
                </div>
            </form>
        </div>
    </div>
    </header>

{% endblock conteudo %}